
<nav class="nav-wrapper green darken-4">
  <div class="container">
    <a href="/" class="brand-logo">BIBLIOTECA VIRTUAL EzBAC</a>

  </div>
</nav>
  <div class= "login-box-iniciar" *ngIf="!identity">
    <h1>Iniciar Sesión</h1>
    <form #clientForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="textbox">

        <input type="email" placeholder="Email" name="email" #name="ngModel" [(ngModel)]="client.email">

      </div>
      <div class="textbox">

        <input type="password" placeholder="Password" name="password" #name="ngModel" [(ngModel)]="client.password">

      </div>

      <input type="submit" class="btn btn btn-success" value = "Iniciar sesión">
    </form>

  </div>

  <div *ngIf="!identity">
    <app-clients></app-clients>
  </div>

  <div *ngIf="identity" class="navigation col-lg-1">
    <span id="exitBtn" class="btn red right" (click)="logout()">
      Cerrar Sesión
      <i class="material-icons">close</i>
    </span>

    <app-book></app-book>
</div>





