
<div class= "login-box" >
  <h1>Iniciar sesión</h1>
  <form #clientForm="ngForm" (ngSubmit)="addClient(clientForm)">
    <div class="textbox">

      <input type="text" placeholder="Name" name ="name" #name="ngModel" [(ngModel)]="clientService.selectedClient.name">
    </div>
    <div class="textbox">

      <input type="text" placeholder="Surname" name="surname" #name="ngModel" [(ngModel)]="clientService.selectedClient.surname" >
    </div>
    <div class="textbox">

      <input type="email" placeholder="Email" name="email" #name="ngModel" [(ngModel)]="clientService.selectedClient.email">
    </div>
    <div class="textbox">

      <input type="text" placeholder="Username" name="username" #name="ngModel" [(ngModel)]="clientService.selectedClient.username">
    </div>
    <div class="textbox">

      <input type="password" placeholder="Password" name="password" #name="ngModel" [(ngModel)]="clientService.selectedClient.password">
    </div>
    <div class="textbox">

      <input type="text" placeholder="Image" name="image" #name="ngModel" [(ngModel)]="clientService.selectedClient.image">
    </div>
    <div class="textbox">

      <input type="text" placeholder="Role" name="role" #name="ngModel" [(ngModel)]="clientService.selectedClient.role">
    </div>
    <div class="textbox">

      <input type="text" placeholder="Balance" name="balance" #name="ngModel" [(ngModel)]="clientService.selectedClient.balance">
    </div>

    <input type="submit" class="btn btn btn-success" value = "Registrarse">
  </form>

</div>
