@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body{

    margin: 0;
    padding: 0;
    background-image: url('../img/library.jpg');
    background-size: cover;
}

.login-box{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: #333;
    padding: 30px;
    border-radius: 4px;  

}

.login-box h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.login-box .buttonBox {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-top: 30px;
}

.login-box button {
    width: 150px;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
}

.textbox i{
    width: 10%;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 80%;
    float: left;
    width: 80%;
    margin-left: 5%;
}

.button{
    background-color: #418443; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #4CAF50;
}

#loginBox .button {
    width: 100%;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .textbox input {
        width: 70%;
        margin-left: 15%;
    }
}